.blocks {
  display: grid;
  width: 80%;
  overflow: hidden;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 50px;
  margin: 0px auto;
}
.first-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: red thin solid;
}

.second-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: red thin solid;

}

.third-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: red thin solid;

}

.fourth-block{
    display: flex;
    flex-direction: row;
    border: thin solid red;
    align-items: top;
    grid-area: 1/3/2/5;
    padding: 10px;
}

.fith-block{
  display: flex;
    flex-direction: row;
    border: thin solid red;
    align-items: top;
    grid-area: 2/3/3/5;
    padding: 10px;
}

.sixth-block{
  display: flex;
  flex-direction: row;
  border: thin solid red;
  align-items: top;
  grid-area: 3/3/4/5;
  padding: 10px;
}

.seventh-block{
  display: flex;
  flex-direction: row;
  border: thin solid red;
  align-items: top;
  grid-area: 4/3/5/5;
  padding: 10px;
}

.blocks > .first-block {
  grid-area: 1/1/5/2;
}

.blocks > .second-block{
    grid-area: 1/2/3/3;
}

.blocks > .third-block{
    grid-area: 3/2/5/3;
}

.fourth-block  a{
  color: white;
  background-color: cornflowerblue;
  border-radius: 10%;
  display: inline-block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 3%;
  border: black solid thin;
}

.fith-block a{
  color: white;
  background-color: cornflowerblue;
  border-radius: 10%;
  display: inline-block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 3%;
  border: black solid thin;
}

.sixth-block a{
  color: white;
  background-color: cornflowerblue;
  border-radius: 10%;
  display: inline-block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 3%;
  border: black solid thin;
}

.seventh-block a{
  color: white;
  background-color: cornflowerblue;
  border-radius: 10%;
  display: inline-block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 3%;
  border: black solid thin;
}

.block-in-block{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 60%;
}

.image-first {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 200px;
  width: 90%;
}

.image-second {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 200px;
  width: 70%;
}

.image-third{
  display: flex;
  justify-content: center;
  height: 100px;
  width: 250px;
  height: 150px;
  margin: auto;

}


.image-first img{
  height: 100%;
  width: 100%;
  border-radius: 30%;
}

.image-second img {
    height: 100%;
    width: 100%;
    border-radius: 40%;
}

.image-third img{
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.unactive-link{
    text-decoration:underline;
}

.unactive-link2{
    text-decoration:underline;
    margin-left: auto;
}
h3 {
  text-align: center;
}

.fourth-block h3{
  display: block;
  width: 17%;
}

.fith-block h3{
  display: block;
  width: 17%;
}

.sixth-block h3{
  display: block;
  width: 17%;
}

.seventh-block h3{
  display: block;
  width: 17%;
}


@media (max-width: 768px) {
  .blocks {
    display: flex;
    flex-direction: column;
  }

  .fourth-block,
  .fith-block,
  .sixth-block,
  .seventh-block {
    display: flex;
    flex-direction: column;
  }
  

  .block-in-block {
    width: 100%;
  }

  .image-first,
  .image-second,
  .image-third {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .image-first img,
  .image-second img,
  .image-third img {
    max-width: 100%;
    height: 100%;
  }

  .fourth-block h3,
  .fith-block h3,
  .sixth-block h3,
  .seventh-block h3 {
    width: auto;
  }
}


@media (max-width: 480px) {
  .blocks {
    width: 95%;
  }

  .first-block p,
  .second-block p,
  .third-block p,
  .fourth-block p,
  .fith-block p,
  .sixth-block p,
  .seventh-block p {
    font-size: 14px;
  }
}

footer {
  background-color: #4A90E2;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}