.img-table{
    display: grid;
    overflow: hidden;
    width: 90%;
    margin: auto;
    justify-content: center;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10px;
    margin-bottom: 50px;
    grid-gap: 10px;
}

.img-table img{
    width: 100%;
    height: 100%;
}
.img-table > div{
    overflow: hidden;
}

.img-table > .img1{
    grid-area: 1/1/3/5;
}

.img-table > .img2{
    grid-area: 1/5/3/7;
}


.img-table > .img3{
    grid-area: 3/1/5/3;
}

.img-table > .img4{
    grid-area: 3/3/5/7;
}


@media (max-width: 768px) {
  .img-table {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
  }

  .img-table > .img1,
  .img-table > .img2,
  .img-table > .img3,
  .img-table > .img4 {
    grid-area: auto;
  }
}

@media (max-width: 480px) {
  .img-table {
    grid-template-rows: repeat(4, 100px);
  }
}