.menu{
    border: 1px solid lightgray;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
}

.menu-active-block{
    margin-right: 10px;
    padding: 10px 15px;
    background: #007BFF;
    display: inline-block;
    float: none;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.menu-unactive-block{
    margin-right: 10px;
    padding: 10px 15px;
    display: inline-block;
    float: none;
    color: #007BFF;
    text-decoration: none;
    text-align: center;
}

.menu-unactive-block:last-child{
    margin-right: 0px;
}

.menu-row{
    display: inline-block;
    margin: 0px auto;
    
}

.search-box{
    float: right;
    padding: 5px;
    display: inline;
    vertical-align: bottom;
}

.search-box input{
    margin-right: 10px;
    padding: 5px;
    min-width: 120px;
}

.search-box button{
    background:#007BFF;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}
